---
import { getCollection, getEntryBySlug } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostLayout from "../../layouts/PostLayout.astro";
import PostMeta from "../../components/PostMeta.astro";
import CategoryPill from "../../components/CategoryPill.astro";
import AboutMeCard from "../../components/AboutMeCard.astro";
import Footer from "../../components/Footer.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog", ({ data }) => !data.draft);
  return posts.map((post) => ({
    params: {
      id: post.slug,
    },
  }));
}

const { id: slug } = Astro.params;
const post = (await getEntryBySlug("blog", slug!))!;
const { Content, remarkPluginFrontmatter } = await post.render();
---

<style>
  article {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
  }

  h1 {
    font-size: var(--h1);
    font-weight: bold;

    margin-bottom: 1.6rem;
  }

  .categories {
    display: flex;
    flex-wrap: wrap;

    margin-top: 4rem;
    margin-bottom: 8rem;
  }

  :global(.categories > *) {
    margin-top: 1rem;
  }

  :global(.categories > * + *) {
    margin-left: 0.8rem;
  }

  :global(.meta) {
    margin: 2rem 0;
  }

  aside {
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
  }

  @media screen and (min-width: 800px) {
    article {
      margin-top: 4rem;
    }

    :global(.meta) {
      margin-bottom: 4rem;
    }

    h1 {
      font-size: var(--h1);
    }

    aside {
      padding-bottom: 8rem;
    }
  }
</style>
<BaseLayout
  title={(post.data.seoTitle ?? post.data.title).toLowerCase()}
  description={(post.data.seoSubtitle ?? post.data.subtitle).toLowerCase()}
>
  <article>
    <h1>{post.data.title}</h1>
    <PostMeta
      lastEditedAt={post.data.lastEditedAt}
      publishedAt={post.data.publishedAt}
      readingTime={remarkPluginFrontmatter.readingTime}
      title={post.data.title}
    />
    <main class="body">
      <PostLayout>
        <Content />
      </PostLayout>
    </main>
    <div class="categories">
      {
        remarkPluginFrontmatter.categories.map((category: string) => (
          <CategoryPill name={category} />
        ))
      }
    </div>
  </article>
  <aside><AboutMeCard summaryText /></aside>
  <Footer />
</BaseLayout>
